#about {
  min-height: 100vh;
  padding: 120px 0;
}

#about p {
  max-width: 800px;
  margin-bottom: 1rem;
  color: var(--subtext-color);
}

#about ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 0;
  margin: 0;
}

#about li {
  margin-bottom: 0.8rem;
  border-radius: 20px;
  font-size: 0.95rem;
  flex-shrink: 0;
}

.about {
  padding: 6rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color);
}

.bold {
  font-weight: bold;
  margin-top: 1rem;
  color: var(--text-color);
}

.highlight {
  display: inline-block;
  color: var(--text-color);
}
